{% form 'contact' %}
<div id="contactFormWrapper">
  <div class="desktop-12 tablet-6 mobile-3">
    <p>
      <label>{{ 'contact.form.name' | t }}</label>
      <input type="text" id="contactFormName" name="contact[name]" placeholder="ex. Jane Doe" />
    </p>
  </div>
  <div class="desktop-12 tablet-6 mobile-3">
    <p>
      <label>{{ 'contact.form.email' | t }}</label>
      <input type="email" id="contactFormEmail" name="contact[email]" placeholder="ex. email@domain.com" />
    </p>
  </div>
  <div class="desktop-12 tablet-6 mobile-3">
    <p>
      <label>{{ 'contact.form.phone' | t }}</label>
      <input type="text" id="contactFormTelephone" name="contact[phone]" placeholder="ex. 555-555-5555" />
    </p> 
  </div>
  <div class="desktop-12 tablet-6 mobile-3">
    <p class='textarea-small'>
      <label>{{ 'contact.form.message' | t }}</label>
      <textarea rows="15" cols="90" id="contactFormMessage" name="contact[body]" placeholder="ex. 'I love what you're doing!'"></textarea>
    </p>
    <p>
      <input type="submit" id="contactFormSubmit" class="secondary button" value="{{ 'contact.form.send' | t }}" />
    </p> 
  </div>
</div>

<div class="clear"></div>


{% if form.posted_successfully? %}
<div class="successForm feedback">
  <p>{{ 'contact.form.post_success' | t }}</p>
</div>
{% endif %}

{% if form.errors %}
<div class="errorForm feedback">
  <p>{{ 'general.forms.post_error' | t }}</p>
</div>
{% endif %}

{% endform %}      

<div class="clear"></div>

{% if settings.show-map %}
<div id="gmap" class="desktop-12 tablet-6 mobile-3">
    {{ settings.map }}
</div>
{% endif %}
